-
  const defaultOptionsLinkIcon = {
    img: '',
    href: '',
  };

mixin linkIcon(options)
  - options = Object.assign({}, defaultOptionsLinkIcon, options);

  a.link-icon(href=options.href)&attributes(attributes)
    img(src=emptyImg data-src=options.img, alt="icon", target="_blank").lazyload
