.block-review {
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(188, 188, 188, .15);
  border-radius: 10px;
  padding: 30px 30px 40px;
  margin-top: 45px;
  position: relative;

  &__img {
    width: 90px;
    height: 90px;
    margin-bottom: 25px;
    margin-top: -75px;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 575px) {
      width: 56px;
      height: 56px;
      margin-top: -48px;
    }
  }

  &__name {
    color: #2C4964;
    margin-bottom: 25px;
    padding-right: 95px;

    @media (max-width: 575px) {
      padding-right: 0;
    }
  }

  &__subtitle {
    color: #616A6D;
    margin-bottom: 20px;
  }

  &__text {
    height: 140px;
    overflow: hidden;
  }

  &__popup {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #182832;
    font-weight: 400;
    margin-top: 14px;
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }

  &__rating {
    background: #E9F1F3;
    box-shadow: 0px 10px 40px rgba(188, 188, 188, 0.15);
    border-radius: 10px;
    font-size: 1.05rem;
    line-height: 1.2;
    color: #2C4964;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;

    &:before {
      content: '';
      width: 26px;
      height: 26px;
      background-image: url('@img/star.svg');
      background-position: center;
      background-repeat: no-repeat;
      flex-shrink: 0;
      margin-right: 8px;

      @media (max-width: 575px) {
        width: 17px;
        height: 17px;
        background-size: contain;
      }
    }

    @media (max-width: 575px) {
      position: static;
      margin-top: 25px;
      padding: 5px 10px;
    }
  }

  @media (max-width: 575px) {
    padding: 20px 20px 30px;
    margin-top: 28px;
  }
}