.faq {
  background: #F2F4F6;
  line-height: 1.5;
  padding: 90px 0 110px;
  color: #616A6D;

  &__stat {
    text-align: center;
  }

  h1,
  .h1 {
    color: #2C4964;
  }

  h2,
  .h2 {
    text-align: center;
  }

  @media (max-width: 575px) {
    padding: 30px 0 40px;
  }
}