-
  const itemsFaqStats = [
    {
      title: '1 530',
      text: 'клиентов',
    },
    {
      title: '11 753 000',
      text: 'рублей помогли сэкономить',
    },
    {
      title: '3 000',
      text: 'дашбордов реализовано',
    },
  ];

  const itemsFaqAccordion = [
    {
      name: 'Чем Power BI отличается от ближайших конкурентов?',
      text: `
        <p>Power BI - это облачный сервис, который предоставляет возможности сбора данных из различных источников, создания и редактирования отчетов, их визуализацию и совместную работу в небольшой группе и компании любого размера.</p>
        <p>Power BI создан компанией Microsoft и легко интегрируется с другими сервисами компании - в этом его преимущество для пользователя. Сервис прост в использовании и доступен по стоимости.
      `,
    },
    {
      name: 'Зачем мне Power BI и чем он лучше Excel?',
      text: `
        <p>Power BI – это инструмент следующего поколения. Его схожесть с Excel существует только исторически, так как Excel был в свое время взят за основу. Часто продвинутый пользователь Excel может сделать в Excel больше чем новичок в PowerBI. Но это не проблема инструмента, а недостаток знания инструментов аналитики.</p>
        <p>PowerBI позволяет построить отчет, используя данные из множества источников, настроить автоматическое обновление и прописать доступы к данным на уровне строк.  Вы можете всегда иметь доступ к отчету на текущий период. Поделившись отчетом – не волноваться, что получатель сможет увидеть данные доступ, к которым ему не разрешен.</p>
        <p>Можно организовать доступ к отчетности с мобильного телефона и настроить автоматическое уведомление, оповещающее о достижении выбранного показателя заданных значений.</p>
      `,
    },
    {
      name: 'Есть ли облачное хранилище? Можно ли раздавать доступ незарегистрированным пользователям.',
      text: `
        <p>PowerBI Pro - это облачный сервис. Он дает возможность доступа к отчетам в облаке. Пользователь без необходимости какой либо регистрации, может просмотреть отчёт, ссылку на который ему пришлют.</p>
      `,
    },
    {
      name: 'Возможно ли использование нескольких источников данных для консолидации данных в Power BI?  Какие источники данных может использовать PowerBI?',
      text: `
        <p>Одно из основных преимуществ Power BI - это возможность использовать любые цифровые источники данных. Сервис предлагает более 100 коннекторов «из коробки» в один клик, возможно создание кастомных коннекторов под задачи бизнеса.</p>
      `,
    },
    {
      name: 'Реализована ли возможность автоматического формирования отчётов в Power Bi на основе данных Google Analytics и Яндекс Метрики?',
      text: `
        <p>Да. PowerBI подключается к ним через API и авторизуется через токен. Данные обновляются в режиме реального времени. Вы сможете отслеживать динамику непосредственно из приложения Power BI и использовать ее в отчетах.</p>
      `,
    },
    {
      name: 'Как организовать сквозную аналитику? Существуют ли коннекторы для рекламных кабинетов?',
      text: `
        <p>В Power BI возможно организовать сквозную аналитику и организовать хранилище данных из различных источников, в том числе контекстной и таргетированной рекламы (Директ, Google Ads, FB, Vk, myTarget)</p>
      `,
    },
    {
      name: 'Есть ли возможность интеграции Power BI с Битрикс24, 1С 7.7 Бухгалтерия, API МойСклад и другим источникам данных?',
      text: `
        <p>Power BI позволяет интегрировать данные из различных источников. При этом возможна разная степень сложности интеграции от «в один клик» до написания, при необходимости, кастомного коннектора.</p>
        <p>В частности, существует несколько вариантов для интеграции с 1С:</p>
        <ul>
          <li>Выгрузка json-файла</li>
          <li>Подключение через базу данных</li>
          <li>Использование кастомного коннектора</li>
          <li>Выгрузка csv или Excel</li>
        </ul>
      `,
    },
  ];

section.faq#faq 
  .container 
    h2.mb-5 Вопрос-ответ

    +accordion({
      items: itemsFaqAccordion,
    })

    .row.justify-content-center.mt-5 
      each val in itemsFaqStats
        .col-lg-6.col-xl-4.mb-4.mb-xl-0
          .faq__stat
            p.h1= val.title 
            = val.text