+formBlock2({
  title: 'Запишитесь на бесплатную <span>консультацию</span>',
  img: require('@img/form-block-2.jpg'),
  text: 'Поможет вам эффективнее управлять бизнесом',
})
  div(style="height: 400px;")