-
  const defaultOptionsLis = {
    items: [],
  };

mixin list(options)
  - options = Object.assign({}, defaultOptionsLis, options);

  ul.list 
    each val in options.items 
      li
        span= val 
