+popup({
  title: 'Базис',
  id: 'popup-review'
})
  h4 Пришли с запросом решить проблему с анализом эффективности рекламных кампаний

  p 
    | У нас была проблема с детальным анализом эффективности рекламных компаний. Мы вкладываем большой рекламный бюджет и используем много каналов для продвижения. Много раз пытались выстроить аналитику: нам помогали маркетинговые агентства, также мы использовали платформу Roistat. Но общего понимания, которое бы не вызывало споров между отделом маркетинга и отделом продаж так и не появилось. Маркетологи по два дня тратили на сведение отчетов и выверку показателей, не могли оперативно перераспределить бюджет на более эффективные кампании. Ответа на вопрос, насколько эффективно расходуется рекламный бюджет у руководителя не было. 
    | Когда мы пришли в Аксус, нам предложили внедрить дашборд - инструмент визуализации и анализа данных. Ребята работали глубоко и вдумчиво, давая нам советы - как лучше и оптимальнее поступить в каждом случае. Сейчас проект находится на стадии завершения и запуска. Стало четко видно, что мы можем перераспределять рекламный бюджет в более эффективные каналы, мы можем освободиться от тех, которые не несут отдачу. Мы смогли снизить рекламный бюджет без потери эффективности.  
    | Спасибо команде Аксус за профессионализм и качественную работу! Теперь мы знаем намного больше о том, как работает наш бизнес.
