.block-image {
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(188, 188, 188, 0.15);
  border-radius: 10px;
  overflow: hidden;
  color: #182832;

  &__img {
    height: 244px;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    padding: 25px 30px;
    color: #2C4964;

    @media (max-width: 575px) {
      padding: 20px 15px;
    }
  }

  &__name {
    margin-bottom: 12px;
  }

  &__btn {
    margin-top: 12px;
  }
}