-
  const itemsStaffSlider = [
    {
      img: require('@img/img-7.jpg'),
      name: 'Иван Иванов',
      text: 'Ключевые компетенции: <br> Очень крутая информация: с кем работал, что может делать для клиента Accessio cedit principali. Actio bonae fidei. Accessio cedit principali. Actio bonae fidei. Accessio cedit principali. Actio bonae fidei. ',
      post: 'Специализация',
    },
    {
      img: require('@img/img-7.jpg'),
      name: 'Иван Иванов',
      text: 'Ключевые компетенции: <br> Очень крутая информация: с кем работал, что может делать для клиента Accessio cedit principali. Actio bonae fidei. Accessio cedit principali. Actio bonae fidei. Accessio cedit principali. Actio bonae fidei. ',
      post: 'Специализация',
    },
    {
      img: require('@img/img-7.jpg'),
      name: 'Иван Иванов',
      text: 'Ключевые компетенции: <br> Очень крутая информация: с кем работал, что может делать для клиента Accessio cedit principali. Actio bonae fidei. Accessio cedit principali. Actio bonae fidei. Accessio cedit principali. Actio bonae fidei. ',
      post: 'Специализация',
    },
  ];

section.staff#staff
  .container 
    .row.align-items-center.mb-5
      .col-xl-10 
        h2 Кто будет работать с вами
      
      .col-xl-2.d-none.d-xl-block 
        +sliderNav({
          sliderId: 'slider-staff',
        })(class="ml-auto")
    
    +slider3({
      sliderId: 'slider-staff',
    })(class="mb-5")
      each val in itemsStaffSlider
        +blockStaff(val)

    .mb-5.d-block.d-xl-none
      +sliderNav({
        sliderId: 'slider-staff',
      })(class="ml-auto")

    +formBlock4({
      title: 'Остались вопросы?',
      img: require('@img/form-block-4.jpg'),
    })
      form
        .row 
          .col-md-8.col-lg-12.col-xxl-7.mb-5 
            +input({
              name: 'phone',
              type: 'tel',
              placeholder: 'Телефон',
            })

          .col-12.mb-5
            +textarea({
              name: 'question',
              placeholder: 'Опишите Ваш вопрос или задачу',
            })
        
        .row.align-items-center
          .col-md-6.col-lg-12.col-xxl-5.mb-4.mb-md-0.mb-lg-4.mb-xxl-0 
            +btn({
              name: 'Получить ответ',
              size: 'big',
              color: 'red',
            })(class="w-100")

          .col-md-6.col-lg-12.col-xxl-6 
            +checkPrivacyPolicy() 