-
  const itemsSteps = [
    {
      name: 'Ознакомительная встреча',
      text: 'рассказ о задачах отчетности',
      img: require('@img/ico-7.svg'),
    },
    {
      name: 'Демонстрация',
      text: 'возможности платформы на примере похожих кейсов',
      img: require('@img/ico-8.svg'),
    },
    {
      name: 'Уточнение задачи',
      text: 'формулирование задачи, которую решим с помощью дашборда',
      img: require('@img/ico-9.svg'),
    },
    {
      name: 'План действий',
      text: 'для разработки ТЗ на ваш проект',
      img: require('@img/ico-10.svg'),
    },
  ];

section.steps#steps
  .container 
    h2.mb-5 Удобство и простота  заказа дашборда AXUS

    .row.mb-5.d-none.d-lg-flex
      each val, index in itemsSteps
        - const lastClass = (index + 1 === itemsSteps.length) ? 'steps__line--last' : '';
        .col-lg-3
          .steps__line(class=lastClass)

    .row
      each val, index in itemsSteps
        .col-md-6.col-xl-3.mb-md-4.mb-xl-0(
          class=(index + 1 === itemsSteps.length) ? 'mb-0' : 'mb-3'
        )
          +blockIconDark(val)
