-
  const logo = require('@img/logo.svg');
  const slogan = 'Дашборды, которые сэкономят вам время и деньги';
  const btnName = 'Заказать звонок'

header.header
  .header__content
    .container
      .row.align-items-center
        .col-auto.col-md
          .row.align-items-center
            .col-auto
              a.logo(href="/")
                img(src=logo, alt="logo")

            .col.col-xl-auto.d-none.d-md-block
              .header__slogan= slogan

        .col
          .row.align-items-center.justify-content-end
            .col-auto.d-none.d-sm-block
              +btn({
                name: btnName,
                size: 'small',
                color: 'white-transparent',
              })

            .col-auto
              button.btn-menu
