@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(@fonts/Fira_Sans/FiraSans-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(@fonts/Fira_Sans/FiraSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(@fonts/Fira_Sans/FiraSans-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(@fonts/Fira_Sans/FiraSans-SemiBold.woff2) format('woff2');
}
