@font-face {
  font-family: 'Fira Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(@fonts/Fira_Sans_Condensed/FiraSansCondensed-Light.woff2) format('woff2');
}
