.container {

  @media (min-width: 1510px) {
    max-width: 1430px;
  }
}

.ml-auto {
  margin-left: auto;
}

.w-100 {
  width: 100%;
}

.overflow-auto {

  @media (max-width: 991px){
    overflow: auto;
  }
}