-
  const defaultOptionsListIcon = {
    items: [],
  };

mixin listIcon(options)
  - options = Object.assign({}, defaultOptionsListIcon, options);

  ul.list-icon 
    each val in options.items 
      li.list-icon__item 
        span.list-icon__img 
          img(src=emptyImg data-src=val.img, alt="icon").lazyload

        span= val.text 
