.block-staff {
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(188, 188, 188, .15);
  border-radius: 10px;
  padding: 30px 30px 40px;
  margin-top: 68px;
  position: relative;

  &__img {
    width: 136px;
    height: 136px;
    margin-bottom: 25px;
    margin-top: -98px;
    border-radius: 50%;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 575px) {
      width: 56px;
      height: 56px;
      margin-top: -48px;
    }
  }

  &__name {
    color: #2C4964;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__post {
    box-shadow: 0px 10px 40px rgba(188, 188, 188, .15);
    border-radius: 10px;
    padding: 5px 15px;
    font-family: 'Fira Sans Condensed';
    font-size: .95rem;
    line-height: 1.5;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 30px;
    background: #0065ED;

    @media (max-width: 575px) {
      position: static;
      display: inline-block;
      margin-bottom: 25px;
    }
  }

  @media (max-width: 575px) {
    padding: 20px 20px 30px;
  }
}