-
  const defaultOptionsFormBlock4 = {
    title: '',
    img: '',
    text: '',
  };

mixin formBlock4(options)
  - options = Object.assign({}, defaultOptionsFormBlock4, options);

  .form-block-4
    .row 
      .col-lg-6
        .form-block-4__content
          if options.title
            .form-block-4__title.h2!= options.title

          block

      .col-lg-6 
        .form-block-4__img 
          if options.img
            img(src=options.img, alt=options.title)

          if options.text
            .form-block-4__tooltip
              +tooltip2({
                img: require('@img/img-9.jpg'),
                text: options.text,
              })