-
  const defaultOptionsTooltip = {
    img: '',
    text: '',
  };

mixin tooltip(options)
  - options = Object.assign({}, defaultOptionsTooltip, options);

  .tooltip
    .tooltip__img 
      img(src=emptyImg data-src=options.img, alt="tooltip").lazyload

    .tooltip__text= options.text
