section.form-cases
  .container
    h2 Получите кейсы

    p.mb-5 по увеличению прибыли и операционной эффективности компаний

    +formBlock1({
      title: 'Выберите на какой мессенджер вам отправить',
      img: require('@img/form-block-1.png'),
    })(class="form-cases__form")
      | 123