extends layout/index/template

block content
  include /utp/template
  include /form-cases/template
  include /how-to-use/template
  include /stats-one-display/template
  include /form-consultation/template
  include /company-growth/template
  include /reviews/template
  include /prices/template
  include /steps/template
  include /faq/template
  include /dashboards/template
  include /staff/template
  include /contacts/template
